.logo {
    width:150px;
    float: left;
    margin-top: 15px;
    margin-right: 20px;
    /*margin-left: 1em;
     margin-bottom: 30px;*/
    transform: translate(0px,-18px)
  }
  
  .created {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 35px;
    color: rgb(240, 230, 230);
    font-family: 'Rancho', cursive;
    transition-duration: 0.4s
  }
  .created:hover{
    color: rgba(231, 231, 12, 0.938);
  }
  
  .header {
    overflow: hidden;
    height: 70px;
    background-color: #d41156;
  }
  