.stylesCard {
    background: rgba(252, 7, 117, 0.87);
    margin: 35px;
    width: 20rem;
    border-radius: 15px;
    display: inline-block;
    transition: all 400ms ease;
    box-sizing: content-box;
    min-height: 200px;
    border-color: #e7ef05da;
    border-width: 3.5px;
    border-style: solid;
  }
  
  .stylesCard:hover {
    box-shadow: 20px 20px 20px rgb(0, 0, 0, 0, 4);
    transform: translateY(-3%);
  }
  
  .name {
    font-family:  cursive;
    font-size: 35px;
    color: #f9eeee;
    text-decoration: none;
  }
  
  .typeStyle {
    list-style-type: none;
    color: #e8095e;
    text-decoration-line: none;
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    font-family:  cursive;
    text-decoration: none;
  }
  
  ul li {
    text-decoration-line: none;
    list-style-type: none;
    text-align: center;
    align-content: center;
    color: rgb(238, 240, 233);
  }